<!--The content below is only a placeholder and can be replaced.-->
<div class="app">
  <h1>{{title}}</h1>
  <nav>
    <a routerLink="/user">我的</a>
    <br>
    <a routerLink="/members">Angular成员</a>
    <br>
    <a routerLink="/simple">简版</a>
    <br>
    <a routerLink="/demo">demo页面</a>
  </nav>
  <ul>
    <li *ngFor="let message of mailService.messages; index as i">{{message.text}}</li>
  </ul>
  <app-simple-form 
  *ngFor="let message of mailService.messages; index as i" 
  [message]="message.text"
  (update)="onUpdate(message.id, $event.text)"
  ></app-simple-form>
  <h2>API_URL: {{apiUrl}}</h2>
  <router-outlet></router-outlet>
</div>

